{% extends "mainapp/layout.html" %}
{% load static %}
{% block head %}
<link href="{% static 'mainapp/css/index.css' %}" rel="stylesheet">
{% endblock head %}
{% block main %}
<div id="searchdropdown">
    <input type="text" id="bookName" onkeyup="myFunction()" placeholder="Search for books" title="Type in a name">
    <div class="dropdown-content" id="search-dropdown">
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="bookModal" role="dialog" data-backdrop="true">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title">Book Details</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true" style="color:white;">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3 text-center">
                        <img src=""
                            class="img-fluid z-depth-1-half" id="bookimage">
                        <div style="height: 10px;"></div>
                        <p class="title mb-0" id="booktitle"></p>
                    </div>
                    <div class="col-9">
                        <p id="bookauthors">
                        </p>
                        <p class="card-text" id="bookrating">

                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-warning">lorem ipsum</a>
                <a type="button" class="btn btn-warning">lorem ipsum</a>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block script %}
<script>
    // display book boostrap modal when clicked
    function openModal(obj) {
        var bookName = obj.innerHTML;
        var isbn = obj.getAttribute('data-isbn');
        var authors = obj.getAttribute('data-authors');
        var imageurl = obj.getAttribute('data-imageurl');
        var averagerating = obj.getAttribute('data-averagerating');
        $('#booktitle').text(bookName);
        $('#bookauthors').text(authors);
        $('#bookimage').attr('src',imageurl);
        $('#bookrating').text(averagerating);
        $('#bookModal').modal('show');
    }

    // add search results
    function displayResults(books) {
        var searchdiv = document.getElementById('search-dropdown');
        if (books.length == 0 && searchdiv.childElementCount == 0) {
            var info = document.createElement('a');
            info.innerHTML = 'No search results match your query';
            info.setAttribute('href', '#');
            searchdiv.appendChild(info);
        }
        else if (searchdiv.childElementCount <= 5) {
            $('#search-dropdown').empty();
            books.forEach(function (book, index, array) {
                var booktoadd = document.createElement('a');
                booktoadd.innerHTML = book['original_title'];
                booktoadd.setAttribute('data-isbn', book['isbn']);
                booktoadd.setAttribute('data-authors', book['authors']);
                booktoadd.setAttribute('data-imageurl', book['image_url']);
                booktoadd.setAttribute('data-averagerating', book['average_rating']);
                booktoadd.setAttribute('href', 'javascript:;');
                booktoadd.setAttribute('onclick', 'openModal(this)');
                searchdiv.appendChild(booktoadd);
            });
        }
    }
    // get search results
    function myFunction() {
        var input = document.getElementById('bookName');
        var text = input.value.toLowerCase();
        if (text != '') {
            $.ajax({
                data: {
                    'bookName': text,
                    'csrfmiddlewaretoken': Cookies.get('csrftoken')
                },
                dataType: 'json',
                url: "{% url 'search_ajax' %}",
                type: 'POST',
                success: function (response) {
                    displayResults(JSON.parse(response['top5_result']));
                },
                error: function (response) {
                    console.log(response);
                }
            });
        }
        else
            $('#search-dropdown').empty();
    }
</script>
{% endblock script %}