{% extends "mainapp/layout.html" %} 
{% load static %} 
{% block title %} 
 Library 
{% endblock title %} 
{% block head %}
<link rel="stylesheet" href="{% static 'mainapp/css/read.css' %}"> 
{% endblock head %} 
{% block main %}

<h1 class="genre-head text-center pt-3 pb-3">Rated Books({{num}})</h1>
<div class="card-deck pb-3" style="margin:0 auto;">
{% for book in page_obj %}

<div class="card  mb-4" style="max-width:600px;">
    <div class="row g-0">
        <div class="col-md-4 ">
            <img class="img-fluid card-img" src="{{book.image_url}}" alt="book Card">
        </div>
        <div class="text-center col-md-8">
            <div class="card-body">
                <h5 class=" card-title">{{book.original_title}}</h5>
                <p class=" card-text"><i>by {{book.authors}}</i></p>
                <div class=" rating-block" id="rating-block-{{ book.book_id }}" onmouseover="rateStart(this)" onclick='rateBook(this)' onmouseout='finishRate(this)' data-book-id="{{ book.book_id }}">
                    <div id="button-text-{{ book.book_id }}">Rate <i class="fa fa-heart" style="color:red"></i> This Book
                    </div>
                    <div class='rateYo' id='rate-{{ book.book_id }}'></div>
                </div>
                <a href="javascript:;" onclick='bookDetails(this)' class=" btn more-details" data-book-id="{{ book.book_id }}">More Details</a>
            </div>
        </div><br>
    </div>
</div>
{% if forloop.counter|divisibleby:"2"  %}
</div>
<div class="card-deck pb-3" style="margin:0 auto;">
    {% endif %}
    {% endfor %}
</div>
<nav aria-label="...">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="btn link" href="?page={{ page_obj.previous_page_number }}">&laquo; Previous</a>
        </li>
        {% endif %}

        <li class="page-item "><span class="btn des">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span></li>
        {% if page_obj.has_next %}
        <li class="page-item "><a class="btn link" href="?page={{ page_obj.next_page_number }}"> Next &raquo;</a></li>
        {% endif %}
</nav>


{% endblock main %}