{% extends "mainapp/layout.html" %}
{% load static %}

{% block title  %}
Personalized Read
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'mainapp/css/recommendation.css' %}">
{% endblock head %}


{% block main %}

<h1 class="heading text-center pt-3 pb-3">Personalized Recommendations</h1>


<div class="card-deck pb-4 mb-5" style="margin: 0 auto;">
    {% for book in books %}
    <div class="book-cell">
        <div class="book-img">
            <img src="{{book.image_url}}" alt="book-image" class="book-photo cover-img">
        </div>
        <div class="book-content">
            <div class="book-title">{{book.original_title}}</div>
            <div class="book-author">by {{book.authors}}</div>
            <span class="book-voters">{{book.average_rating}} rating &#11088;</span>
            <a href="javascript:;" onclick='bookDetails(this)' class="btn more-details"
                data-book-id="{{ book.book_id }}">More Details</a>
            {% if user.is_authenticated %}
            <div class='rating-block' id='rating-block-{{ book.book_id }}' onmouseover="rateStart(this)"
                onclick='rateBook(this)' onmouseout='finishRate(this)' data-book-id="{{ book.book_id }}">
                <div id='button-text-{{ book.book_id }}'>Rate <i class="fa fa-heart" style="color:red"></i> This
                    Book</a>
                </div>
                <div class='rateYo' id='rate-{{ book.book_id }}'></div>
            </div>
            {% else %}
            <div class='rating-block btn' onclick="location.href='{% url 'account_signup' %}'">
                <div id='button-text'>Rate <i class="fa fa-heart" style="color:red"></i> This Book</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% if forloop.counter|divisibleby:"3"  %}
</div>
<div class="card-deck  pb-4  mb-5" style="margin: 0 auto;">
    {% endif %}
    {% endfor %}
</div><!-- The final deck is closed here, outside the loop -->

{% endblock main %}