{% extends "mainapp/layout.html" %} 
{% load static %} 
{% block title %} 
Library 
{% endblock title %} 
{% block head %}
<link rel="stylesheet" href="{% static 'mainapp/css/saved_book.css' %}">
{% endblock head %} 
{% block main %}

<h1 id="title" class="genre-head text-center pt-3 pb-3">Saved for Later({{num}})</h1>
<div class="card-deck pt-3">
{% for book in page_obj %}
<div id="book-{{book.book_id}}" class="obsu">
    <div id="sekil">
        <img src="{{book.image_url}}" alt="book Card" />
    </div>
    <div id="book_name">
        {{book.original_title}}
    </div>
    <div id="author_name">
        by {{book.authors}}
    </div>
    <div id="content">
            <a href="javascript:;" onclick='bookDetails(this)' class=" btn more-details" data-book-id="{{ book.book_id }}">More Details</a>
            <div class=" rating-block" id="rating-block-{{ book.book_id }}" onmouseover="rateStart(this)" onclick='rateBook(this)' onmouseout='finishRate(this)' data-book-id="{{ book.book_id }}">
                <div id="button-text-{{ book.book_id }}">Rate <i class="fa fa-heart" style="color:red"></i> This Book
                </div>
                <div class='rateYo' id='rate-{{ book.book_id }}'></div>
            </div><br>
            <a href="javascript:;" class="btn remove" onclick='removeBook(this)' data-book-id="{{ book.book_id }}">Remove from List</a>
    </div>
</div>
{% if forloop.counter|divisibleby:"2"  %}
</div>
<div class="card-deck pt-3">
    {% endif %}
    {% endfor %}
</div>
<nav aria-label="...">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="btn link" href="?page={{ page_obj.previous_page_number }}">&laquo; Previous</a></li>
        {% endif %}

        <li class="page-item "><span class="btn des">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span></li>
        {% if page_obj.has_next %}
        <li class="page-item "><a class="btn link" href="?page={{ page_obj.next_page_number }}"> Next &raquo;</a></li>
        {% endif %}
</nav>


{% endblock main %} 
{% block script %}
<script>
    function removeBook(obj) {
        var bookid = obj.getAttribute('data-book-id');
        console.log(bookid)
        $.ajax({
            data: {
                'bookid': bookid,
                'csrfmiddlewaretoken': Cookies.get('csrftoken')
            },
            dataType: 'json',
            url: '{%url "remove_saved_book" %}',
            type: 'POST',
            success: function(response) {
                $("#book-" + bookid).remove();
            },
            error: function(response) {
                console.log(response);
            }
        })

    }
</script>
{% endblock script %}
