{% extends 'mainapp/layout.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Change Password
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'mainapp/css/password_reset.css' %}">
{% endblock head %}

{% block main %}
    <div class="content" style="padding-top:3%">
    Your password is now changed.
    </div>
   <div class="content done" style="padding-bottom:25%" > Click on <strong><a href='/'>Kitabe</a></strong> to continue your reading journey again !
    </div> 
{% endblock main%}