{% extends 'mainapp/layout.html' %}
{% load static %}

{% load i18n %}
{% load account %}

{% block title %}
Password Reset Done
{% endblock title%}


{% block head %}
<link rel="stylesheet" href="{% static 'mainapp/css/password_reset.css' %}">
{% endblock head %}


{% block main %}
    <div class="text-center heading" style="padding-top:5%">{% trans "Password Reset" %}</div>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p class="content reset">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
{% endblock main %}