<form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
</form>
<a class="btn btn-lg btn-info mt-2" href="{% provider_login_url 'google' %}">Sign in
    with
    Google</a>

<form method="POST" action="/accounts/login/">
    <input type="hidden" name="csrfmiddlewaretoken"
        value="imxoes254RGOf1AfrSTAdwWL0ACpnTJBDgsBakFfbzZ7DgzpRi9hG31SBVfgCaKI">
    <label for="id_login">Username:</label><input type="text" name="login" placeholder="Username" autofocus="autofocus"
        maxlength="150" required="" id="id_login">
    <label for="id_password">Password:</label><input type="password" name="password" placeholder="Password" required=""
        id="id_password">
    <label for="id_remember">Remember Me:</label><input type="checkbox" name="remember" id="id_remember">

    <a href="/accounts/password/reset/">Forgot Password?</a>
    <button class="primaryAction" type="submit">Sign In</button>
</form>