.dark-mode-btn{
    background-color: transparent;
    z-index: 10;
    cursor: pointer;
    transition-delay: 10s;
} 
.dark-mode .genre-container, 
.dark-mode .top-books{
    background-image: url("/static/mainapp/png/stars.jpg");
    
}
.dark-mode .bg-danger{
    background-color:#252324!important;
  }
 .dark-mode .rating-block{
     background-color: red;
 }

 
.dark-mode #carousel-2 .carousel-control-prev, #carousel-2 .carousel-control-next,
.dark-mode #carousel-2 .carousel-control-prev, #carousel-2 .carousel-control-next{
    background-color:red;
}
.dark-mode{
    background-color: #121212;
}
.dark-mode .more-details,
.dark-mode .rating-block{
    background-color:transparent ;
    border-width: 2px;
    border-color: #ff6800;
    color: white;
}
.dark-mode .more-details,
.dark-mode .card-title{
color: #ff6800;
}
.dark-mode .card{
    background:transparent;
}
.dark-mode .googlebutton,
.dark-mode .loginbutton{
    background-color: #272727;
    color: white;
}
.dark-mode .dark-mode-btn
{
    background-color: #121212;
    color: white;
}

.dark-mode a,
.dark-mode .card-text,
.dark-mode .text-center{
  color: white;
}

.dark-mode .navbar-light .navbar-nav .nav-link{
  color: white;
}


.dark-mode .signin-block{
    background: #121212;
	box-shadow: -5px -5px 8px rgba(255,255,255,0.1),
	 5px 5px 15px rgba(0,0,0,0.8);
	padding: 50px 20px 60px;
	position: relative;
	text-align: center;
	width: 370px;
}

.dark-mode .signup-block{
    background: #121212;
	padding: 50px 20px 60px;
	position: relative;
	text-align: center;
	width: 370px;
}
.dark-mode .signup-block .googlebutton{
    margin-top: -10px;
}

.dark-mode .welcome{
    background-color: #091921;
    color:white;
    font-family:'Poppins', sans-serif;
	font-size: 28px;
	font-weight: 700;
	text-shadow: 0 0 7px white;
	text-transform: uppercase;
}




.dark-mode #id_login,
.dark-mode #id_password,
.dark-mode #id_username,
.dark-mode #id_email,
.dark-mode #id_password1,
.dark-mode #id_password2{
    background: #091921;
	border: none;
	border-radius: 10px;
	box-shadow:inset -3px -3px 6px rgba(255,255,255,0.1),
	inset 3px 3px 6px rgba(0,0,0,0.8);
	color:#6f6f6f;
	font-size: 18px;
	height: 50px;
	outline: none;
	padding: 5px 15px;
	width: 100%;
}
.dark-mode #id_login:focus,
.dark-mode #id_password:focus{
text-shadow: 0 0 300px white;
	color: white;
}
.dark-mode ::placeholder,
.dark-mode #id_login::placeholder,
.dark-mode #id_password::placeholder{
    color: rgb(202, 211, 219);
}

.dark-mode .h-100 .welcome{
    color:white;
    font-family:'Poppins', sans-serif;
	font-size: 28px;
	font-weight: 700;
	text-shadow: 0 0 px white;
	text-transform: uppercase;
}

