    .hide {
        display: none;
    }
    
    .data:hover+.hide {
        display: block;
        color: red;
    }
    
    .hide:hover {
        display: block;
        color: red;
    }
    
    .cover-img-size {
        width: 200px;
        height: 300px;
        margin-right: 22px;
        margin-top: 2px;
        margin-bottom: 4px;
    }
    
    .content {
        width: 200px;
    }
    
    .title {
        font-family: 'Sora', sans-serif;
        color: #D7722C;
    }
    
    .author {
        font-family: 'Courgette', cursive;
        font-weight: bold;
    }
    
    #demo,
    #demo2,
    #demo3 {
        padding-left: 6.5%;
        padding-bottom: 1%;
    }
    
    .more-details {
        text-align: center;
        background-color: #3D348B;
        color: #fff;
        font-weight: 600;
        font-size: 12px;
        border-radius: 20px;
    }
    
    .rating-block {
        text-align: center;
        background-color: #31c2cf;
        font-weight: 600;
        font-size: 12px;
        border-radius: 20px;
        padding: 5px;
    }
    
    .rating-block:hover {
        text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
        transition: all 0.4s ease 0s;
    }
    
    .rateYo {
        margin-left: auto;
        margin-right: auto;
        display: none;
    }
    
    .small-screen {
        display: none;
    }
    
    @media (max-width: 420px) {
        .cover-img-size {
            margin-left: 53px;
        }
        .content {
            margin-left: 53px;
        }
        .hide {
            display: block;
        }
        .rating-block {
            margin-left: 7%;
        }
        .more-details {
            margin-left: 9%;
        }
        .large-screen {
            display: none;
        }
        .small-screen {
            display: inline;
        }
    }