html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff; }

html.dark {
    background-color: #17191a !important;
}
html.dark, body.dark, input.dark, textarea.dark, select.dark, button.dark {
    background-color: #17191a;
}
html.dark, body.dark, input.dark, textarea.dark, select.dark, button.dark {
    border-color: #535353;
    color: #dcdbd8;
}
a.dark {
    color: #308af2;
}
table.dark {
    border-color: #484848;
}

::placeholder.dark {
    color: #b1aca2;
}
::selection.dark {
    background-color: #0057c2;
    color: #f2f2f2;
}
::-moz-selection.dark {
    background-color: #0057c2;
    color: #f2f2f2;
}
input:-webkit-autofill.dark,
textarea:-webkit-autofill.dark,
select:-webkit-autofill.dark {
    background-color: #505600 !important;
    color: #dcdbd8 !important;
}
::-webkit-scrollbar.dark {
    background-color: #1b1c1d;
    color: #bbb7b0;
}
::-webkit-scrollbar-thumb.dark {
    background-color: #282a2c;
}
::-webkit-scrollbar-thumb:hover.dark {
    background-color: #2f3234;
}
::-webkit-scrollbar-thumb:active.dark {
    background-color: #3a3d40;
}
::-webkit-scrollbar-corner.dark {
    background-color: #17191a;
}
*.dark {
    scrollbar-color: #282a2c #1b1c1d;
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  line-height: 1.4;
  color: #3c4858;
  font-weight: 300; }

h1.dark, h2.dark, h3.dark, h4.dark, h5.dark,
.h1.dark, .h2.dark, .h3.dark, .h4.dark, .h5.dark {
  color: #ffffff }

.genre-head,
.topbook-head {
  font-family: "Lobster", cursive;
  font-size: 300%;
  background-color: #d7722c;
  margin-top: 0px;
  color: white;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.card-img {
  flex-shrink: 0;
  bottom: -35px;
  left: 35px;
  border-radius: 3px;
  box-shadow: -2px 6px 19px 0px #7f818e;
  transition: 0.3s ease;
  width: 85%;
  height: 60%;
  margin: 0 auto;
}

.card-img:hover {
  transform: scale(1.07);
}

.card-body-wrap {
  display: flex;
}

.card {
  transition: 0.5s;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: -2px 6px 19px 0px #7f818e;
}

.card-title {
  font-family: "Sora", sans-serif;
  font-size: large;
  color: #d7722c;
}

.card-text {
  font-family: "Courgette", cursive;
  color: black;
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 1px;
}

.card::before,
.card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform 0.3s ease-out 0s;
  content: "";
  pointer-events: none;
}

.card::before {
  transform-origin: left top;
}

.card::after {
  transform-origin: right bottom;
}

.card:hover::before,
.card:hover::after,
.card:focus::before,
.card:focus::after {
  transform: scale3d(1, 1, 1);
}

.more-details {
  text-align: center;
  background-color: #3d348b;
  color: #fff;
  font-weight: 600;
  font-size: 11px;
  border-radius: 20px;
  position: absolute;
  bottom: 10px;
  right: 10%;
}

.more-details:hover {
  color: white;
}

.rating-block {
  display: inline-block;
  text-align: center;
  background-color: #31c2cf;
  font-weight: 600;
  font-size: 11px;
  border-radius: 20px;
  position: absolute;
  padding: 8px;
  bottom: 10px;
  left: 10%;
}

.rating-block:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  transition: all 0.4s ease 0s;
}

.rateYo {
  display: none;
}

.card-deck {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
}

.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 600px) {
  .card-text {
    margin-bottom: 10px !important;
  }
  .rating-block {
    left: 5%;
    font-size: 12px;
  }
  .more-details {
    right: 10px;
    font-size: 12px;
  }
  .card-deck {
    padding-right: 0;
    padding-left: 8%;
  }
}
