
html,body{
  background-color:peachpuff;
  height: 100%;
}

/* nav bar css */
.navicon {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: inline-block;
  padding-right: 20px;
  color: black;

}

.icon-text{
  color: black;
}


.navbar-toggler {
  border-color: black;
  background-color: white;
}

.head-text{
  font-family: 'Pacifico', cursive;
}

/* -------------------------search bar-----------------------  */
.searchbar{
  font-family: 'Kumbh Sans', sans-serif;
}

#searchdropdown{
  margin:0 auto;
}

@media only screen and (min-width: 600px) {
  #searchdropdown {
    margin-left:34%;
  }
}

#bookName{
  border-radius: 25px;
}

#searchdropdown #bookName {
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
}

#searchdropdown .dropdown-content {
  display: block;
  position: absolute;
  background-color: #f1f1f1;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 25px;
  max-width:262.66px;
}

#searchdropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#searchdropdown .dropdown-content a:hover {
  background-color: #ddd;
  border-radius: 25px;
}

.modal {
  line-height: 1.5;
}

.modal .modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 1rem;
  background-color: #ffc107 ;
}

.modal .modal-title {
  padding: .3rem;
  margin: 0;
  font-size: 1.15rem;
  color: #fff;
}

.modal .close {
  opacity: 1;
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 0 1px 0 #fff;
}

.modal-footer {
  color: white;
}

/*  -------------------------------------------------------------------------------fotter css -------------------------------------------------*/


/*FOOTER*/
.footer-content{
  align-items: center;
  padding-left:47%;
  padding-top: 1%;
  padding-bottom: 1%;
}

footer {
  background-color: black;
  color: white;
  margin-top: 10%;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #fa944b;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #ffffff;
}



/*
footer {
  background-color: #0e345a;
  height: 250px;
  width: 100%;
  font-family: 'Syne', sans-serif;
  font-size: 0.8em;
}

footer .row {
  padding-top: 20px;
  height: 100%;
}

footer .row .col-sm {
  color: white;
}

footer .row .col-sm ul {
  padding-left: 0px;
  list-style-type: none;
  text-align: center;
}

footer .row .col-sm ul li form button {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}
*/