.heading {
  font-family: "Lobster", cursive;
  font-size: xx-large;
}

.resetButton {
  font-family: "Fredoka One", cursive;
  padding: 5px 10px 5px 10px;
  background-color: #09bc8a;
  color: white;
  border-radius: 25px;
}

#id_email {
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: center;
  height: 35px;
}

label {
  font-family: "Kalam", cursive;
  font-size: 35px;
}

.content {
  text-align: center;
  font-family: "Sora", sans-serif;
  font-size: 20px;
}

.form-content {
  text-align: center;
}

.head2 {
  padding-top: 8%;
}

.head3 {
  padding-top: 5%;
  padding-bottom: 3%;
}

.reset {
  padding-top: 3%;
  padding-bottom: 19%;
}

.pass-form {
  padding-top: 5%;
  padding-bottom: 13.5%;
}

@media screen and (max-width: 600px) {
  .head3 {
    padding-bottom: 32%;
  }
  .reset {
    padding-top: 15%;
    padding-bottom: 80%;
  }
  .done {
    padding-bottom: 110% !important;
  }
  .pass-form {
    padding-bottom: 57%;
  }
}
