.genre-head,
.topbook-head {
  font-family: "Lobster", cursive;
  font-size: 300%;
  background-color: #d7722c;
  margin-top: 0px;
  color: white;
}

.card-img {
    flex-shrink: 0;
    bottom: -35px;
    left: 35px;
    border-radius: 3px;
    box-shadow: -2px 6px 19px 0px #7f818e;
    transition: 0.3s ease;
    max-width: 100%;
    max-height: auto;
    margin: 0 ;
    padding:0;   
  }
  .card {
    transition: 0.5s;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: -2px 6px 19px 0px #7f818e;
    margin-left: auto;
    margin-right:auto;  
  }

  .card-title {
    font-family: "Sora", sans-serif;
    font-size: 2rem;
    color: #d7722c;
    padding-bottom: 20px;
  }

  .card-text {
    font-family: "Courgette", cursive;
    color: black;
    font-weight: bold;
    font-size: 1.25rem;
    padding-bottom: 25px;
  }
  .card::before,
  .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform 0.3s ease-out 0s;
    content: "";
    pointer-events: none;
  }
  .card::before {
    transform-origin: left top;
  }
  .card::after {
    transform-origin: right bottom;
  }
  
.card:hover::before,
.card:hover::after,
.card:focus::before,
.card:focus::after {
  transform: scale3d(1, 1, 1);
}

.more-details {
    text-align: center;
    background-color: #3d348b;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 20px;
    margin-right: 20px;
  }

  .more-details:hover {
    color: white;
  } 
  .rating-block {
    display: inline-block;
    text-align: center;
    background-color: #31c2cf;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 20px;
    padding: 8px;
  }
  
  .rating-block:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    transition: all 0.4s ease 0s;
  }
  
  .rateYo {
    display: none;
  }
   
  .card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    -webkit-box-orient: vertical;
  }
.link{
  background-color: white;
  color:#d7722c;
}
.link:hover{
  color: #d7722c;
  background-color: #e5e4e2;
}
.des{
  background-color: #d7722c;
  color:white;
}
.pagination{
  margin-top: 50px;
}
  @media screen and (max-width: 600px) {
    .card-text {
      margin-bottom: 10px !important;
      font-size: 12px;
    }
    .card-title{
      padding-bottom:0;
      font-size:large;
    }
    
    .more-details {
      font-size: 12px;
      bottom: 10px;
      left: 20px;
      position: absolute;
    }
    .card {
        margin:50px;  
    }
    .card img{
        height:auto;
        width:100%;
    }
    .rating-block {
      right: 20px;
      font-size: 12px;
      position: absolute;
      bottom: 10px;
    }
  }
