.account-block {
  margin: auto;
  height: 80%;
  width: 70%;
  background-color: white;
}
.signup-block {
  text-align: center;
}
fa-google{
  padding-right: 5px;
}
.googlebutton {
  position: relative;
  background-color: #f25f5c;
  font-family: "Fredoka One", cursive;
  color: white;
  padding: 7px 5px;
  border: 2px solid white;
  border-radius: 15px;
  text-decoration: none !important;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.5);
  border:3px solid #fff;
  bottom: 10%;
  left: 1px;
}
.googlebutton:hover {
  color: white;
}
.img-block {
  color: white;
  background-size: cover;
  background-position: center;
}
.btn-bot {
  font-family: "Fredoka One", cursive;
  position: absolute;
  margin-left: -45px;
  left: 50%;
  padding: 5px 10px 5px 10px;
  border: 2px solid white;
  border-radius: 25px;
  bottom: 250px;
  text-decoration: none !important;
  color: white;
}
.btn-bot:hover {
  color: black;
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.891);
}
.welcome {
  font-family: "Pacifico", cursive;
  position: relative;
  top: 4%;
  left: 32%;
  border-radius: 50px;
  font-size: 2.5rem;
  background-color: #ffdab9;
  width: 35%;
}
label {
  font-family: "Kalam", cursive;
  font-size: 1.2em;
}
.form-group {
  border: 3px solid #ffdab9;
  padding: 6% 8% 8% 8%;
  position: relative;
  display: inline-block;
  top: 25px;
  color: black;

}
#id_username,
#id_email,
#id_password1,
#id_password2 {
  border-top: none;
  border-left: none;
  border-right: none;
  color: #000;
}
.signupbutton {
  font-family: "Fredoka One", cursive;
  padding: 8px 10px 5px 10px;
  font-size:1rem;
  margin-bottom: 20%;
  border: 2px solid white;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.5);
  border:3px solid #fff;
  color:#fff;
  background:rgba(1,1,1);
  border-radius: 15px;
  outline:none;
}
.signupbutton:hover{
  background-color: #ffdab9;
  color:black;
  border: 3px solid black;
}
strong {
  color: red;
}

::placeholder {
  color: #000;
  font-weight: normal;
}

@media only screen and (max-width: 1200px) {
  .img-block {
    display: none;
  }
  .account-block{
    width: 70%;
  }
  .welcome{
    font-size: 2rem;
    width: 35%;
    left: 32%;
  }

}
@media only screen and (max-width: 600px) {
  .signupbutton{
    margin-bottom: 40%;

  }
  .welcome{
    font-size: 1.5rem;
    width: 60%;
    left: 20%;
  }
  .form-group {
    border: 3px solid #ffdab9;
    padding: 3% 6% 3% 3%;
   }
  .account-block{
    width: 60%;
  }
}
@media only screen and (max-width: 450px) {
  .form-group{
    padding: 4% 3% 3% 3%;
  }
  .signupbutton{
    margin-bottom: 45%;

  }
  .account-block{
    width: 70%;
  }
}
