{% extends "mainapp/layout.html" %}
{% load static %}

{% block css %}


.carousel img {
  width: 100%;
}
.genre-head{
  font-family: 'Lobster', cursive;
  font-size: 9%;
}

{% endblock %}

{% block body %}
<!---------------------------------------------------------------   adding Couresel (sliding banner) -------------------------------------------------------------------->
<!-- ################### carousel 1 -->

<section class="slide-window ">
	<div id="carousel-1" class="carousel slide" data-ride="carousel">
       
		<ol class="carousel-indicators">
			<li data-target="#carousel-1" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-1" data-slide-to="1"></li>
			<li data-target="#carousel-1" data-slide-to="2"></li>
			<li data-target="#carousel-1" data-slide-to="3"></li>
		</ol>
       
        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <img class="d-block img-fluid" src="media/mainapp/indexpage/banner/1.png" alt="slide">
          </div>
          
          <div class="carousel-item">
            <img class="d-block img-fluid" src="media/mainapp/indexpage/banner/2.png" alt="Slide">
          </div>
          
          <div class="carousel-item">
            <img class="d-block img-fluid" src="media/mainapp/indexpage/banner/3.png" alt="Slide">
          </div>
          
          <div class="carousel-item">
            <img class="d-block img-fluid" src="media/mainapp/indexpage/banner/4.png" alt="Slide">
          </div>

        </div><!-- e carousel-inner -->
        
        <a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">prev</span>
        </a>
        
        <a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">next</span>
        </a>
        
	</div><!-- e carousel -->
</section><!-- e section -->

<section class="text-light text-center" style="background-color: #F9812A;">
	<div class="container">
		<div class="row">
			
			<div class="col genre-head">
				<h1 style="margin-top: 2%">Read Genre Wise</h1>
			</div><!-- e col -->

		</div><!-- e row -->
	</div><!-- e container -->
</section><!-- e section -->

<!-------------------------------------------------------------------   Genre -------------------------------------------------------------------------------- -->

<section class="bg-warning pt-5 mb-5">
	<div class="container">
		<div class="row">
			
			<div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 ">
			
				<div id="carousel-10" class="carousel slide" data-ride="carousel">
			       
					<ol class="carousel-indicators">
			          <li data-target="#carousel-10" data-slide-to="0" class="active"></li>
			          <li data-target="#carousel-10" data-slide-to="1"></li>
			          <li data-target="#carousel-10" data-slide-to="2"></li>
			        </ol>
			       
			        <div class="carousel-inner" role="listbox">
			
			          <div class="carousel-item active">
			            <img class="d-block img-fluid" src="media/mainapp/indexpage/genre/1.png" alt="slide">
			          </div>
			          
			          <div class="carousel-item">
			            <img class="d-block img-fluid" src="media/mainapp/indexpage/genre/2.png" alt="slide">
			          </div>
			          
			          <div class="carousel-item">
			            <img class="d-block img-fluid" src="media/mainapp/indexpage/genre/3.png" alt="slide">
					  </div>
					  <div class="carousel-item">
			            <img class="d-block img-fluid" src="media/mainapp/indexpage/genre/4.png" alt="slide">
					  </div>
					  <div class="carousel-item">
			            <img class="d-block img-fluid" src="media/mainapp/indexpage/genre/5.png" alt="slide">
					  </div>
					  <div class="carousel-item">
			            <img class="d-block img-fluid" src="media/mainapp/indexpage/genre/6.png" alt="slide">
					  </div>
					  <div class="carousel-item">
			            <img class="d-block img-fluid" src="media/mainapp/indexpage/genre/7.png" alt="slide">
					  </div>
					  <div class="carousel-item">
			            <img class="d-block img-fluid" src="media/mainapp/indexpage/genre/8.png" alt="slide">
					  </div>
					  <div class="carousel-item">
			            <img class="d-block img-fluid" src="media/mainapp/indexpage/genre/9.png" alt="slide">
					  </div>
					  <div class="carousel-item">
			            <img class="d-block img-fluid" src="media/mainapp/indexpage/genre/10.png" alt="slide">
			          </div>

			        </div><!-- e carousel-inner -->
			        
			        <a class="carousel-control-prev" href="#carousel-10" role="button" data-slide="prev">
			          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			          <span class="sr-only">prev</span>
			        </a>
			        
			        <a class="carousel-control-next" href="#carousel-10" role="button" data-slide="next">
			          <span class="carousel-control-next-icon" aria-hidden="true"></span>
			          <span class="sr-only">next</span>
			        </a>
			        
				</div><!-- e carousel -->
			
			</div><!-- e col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 -->
			
			<div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 mb-5">
			
				<div id="carousel-11" class="carousel slide" data-ride="carousel">
			       
					<ol class="carousel-indicators">
			          <li data-target="#carousel-11" data-slide-to="0" class="active"></li>
			          <li data-target="#carousel-11" data-slide-to="1"></li>
			          <li data-target="#carousel-11" data-slide-to="2"></li>
			        </ol>
			       
			        <div class="carousel-inner" role="listbox">
			
						<div class="carousel-item active">
							<img class="d-block img-fluid" src="media/mainapp/indexpage/genre/11.png" alt="slide">
						  </div>
						  
						  <div class="carousel-item">
							<img class="d-block img-fluid" src="media/mainapp/indexpage/genre/12.png" alt="slide">
						  </div>
						  
						  <div class="carousel-item">
							<img class="d-block img-fluid" src="media/mainapp/indexpage/genre/13.png" alt="slide">
						  </div>
						  <div class="carousel-item">
							<img class="d-block img-fluid" src="media/mainapp/indexpage/genre/14.png" alt="slide">
						  </div>
						  <div class="carousel-item">
							<img class="d-block img-fluid" src="media/mainapp/indexpage/genre/15.png" alt="slide">
						  </div>
						  <div class="carousel-item">
							<img class="d-block img-fluid" src="media/mainapp/indexpage/genre/16.png" alt="slide">
						  </div>
						  <div class="carousel-item">
							<img class="d-block img-fluid" src="media/mainapp/indexpage/genre/17.png" alt="slide">
						  </div>
						  <div class="carousel-item">
							<img class="d-block img-fluid" src="media/mainapp/indexpage/genre/18.png" alt="slide">
						  </div>
						  <div class="carousel-item">
							<img class="d-block img-fluid" src="media/mainapp/indexpage/genre/19.png" alt="slide">
						  </div>
						  <div class="carousel-item">
							<img class="d-block img-fluid" src="media/mainapp/indexpage/genre/20.png" alt="slide">
						  </div>
			        </div><!-- e carousel-inner -->
			        
			        <a class="carousel-control-prev" href="#carousel-11" role="button" data-slide="prev">
			          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			          <span class="sr-only">prev</span>
			        </a>
			        
			        <a class="carousel-control-next" href="#carousel-11" role="button" data-slide="next">
			          <span class="carousel-control-next-icon" aria-hidden="true"></span>
			          <span class="sr-only">next</span>
			        </a>
			        
				</div><!-- e carousel -->
			
			</div><!-- e col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 -->
			
			<div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl3 mb-5">
			
				<div id="carousel-12" class="carousel slide" data-ride="carousel">
			       
					<ol class="carousel-indicators">
			          <li data-target="#carousel-12" data-slide-to="0" class="active"></li>
			          <li data-target="#carousel-12" data-slide-to="1"></li>
			          <li data-target="#carousel-12" data-slide-to="2"></li>
			        </ol>
			       
			        <div class="carousel-inner" role="listbox">
			
						<div class="carousel-item active">
							<img class="d-block img-fluid" src="media/mainapp/indexpage/genre/21.png" alt="slide">
						  </div>
						  
						  <div class="carousel-item">
							<img class="d-block img-fluid" src="media/mainapp/indexpage/genre/22.png" alt="slide">
						  </div>
						  
						  <div class="carousel-item">
							<img class="d-block img-fluid" src="media/mainapp/indexpage/genre/23.png" alt="slide">
						  </div>
						  <div class="carousel-item">
							<img class="d-block img-fluid" src="media/mainapp/indexpage/genre/24.png" alt="slide">
						  </div>
						  <div class="carousel-item">
							<img class="d-block img-fluid" src="media/mainapp/indexpage/genre/25.png" alt="slide">
						  </div>
						  <div class="carousel-item">
							<img class="d-block img-fluid" src="media/mainapp/indexpage/genre/26.png" alt="slide">
						  </div>
						  <div class="carousel-item">
							<img class="d-block img-fluid" src="media/mainapp/indexpage/genre/27.png" alt="slide">
						  </div>
						  <div class="carousel-item">
							<img class="d-block img-fluid" src="media/mainapp/indexpage/genre/28.png" alt="slide">
						  </div>
						  <div class="carousel-item">
							<img class="d-block img-fluid" src="media/mainapp/indexpage/genre/29.png" alt="slide">
						  </div>
						  <div class="carousel-item">
							<img class="d-block img-fluid" src="media/mainapp/indexpage/genre/30.png" alt="slide">
						  </div>

			        </div><!-- e carousel-inner -->
			        
			        <a class="carousel-control-prev" href="#carousel-12" role="button" data-slide="prev">
			          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			          <span class="sr-only">prev</span>
			        </a>
			        
			        <a class="carousel-control-next" href="#carousel-12" role="button" data-slide="next">
			          <span class="carousel-control-next-icon" aria-hidden="true"></span>
			          <span class="sr-only">next</span>
			        </a>
			        
				</div><!-- e carousel -->
			
			</div><!-- e col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3-->
			
			<div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 mb-5">
			
				<div id="carousel-13" class="carousel slide" data-ride="carousel">
			       
					<ol class="carousel-indicators">
			          <li data-target="#carousel-13" data-slide-to="0" class="active"></li>
			          <li data-target="#carousel-13" data-slide-to="1"></li>
			          <li data-target="#carousel-13" data-slide-to="2"></li>
			        </ol>
			       
			        <div class="carousel-inner" role="listbox">
						<div class="carousel-item active">
							<img class="d-block img-fluid" src="media/mainapp/indexpage/genre/31.png" alt="slide">
						  </div>
						  
						  <div class="carousel-item">
							<img class="d-block img-fluid" src="media/mainapp/indexpage/genre/32.png" alt="slide">
						  </div>
						  
						  <div class="carousel-item">
							<img class="d-block img-fluid" src="media/mainapp/indexpage/genre/33.png" alt="slide">
						  </div>
						  <div class="carousel-item">
							<img class="d-block img-fluid" src="media/mainapp/indexpage/genre/34.png" alt="slide">
						  </div>
						  <div class="carousel-item">
							<img class="d-block img-fluid" src="media/mainapp/indexpage/genre/35.png" alt="slide">
						  </div>
						  <div class="carousel-item">
							<img class="d-block img-fluid" src="media/mainapp/indexpage/genre/36.png" alt="slide">
						  </div>
						  <div class="carousel-item">
							<img class="d-block img-fluid" src="media/mainapp/indexpage/genre/37.png" alt="slide">
						  </div>
						  <div class="carousel-item">
							<img class="d-block img-fluid" src="media/mainapp/indexpage/genre/38.png" alt="slide">
						  </div>
						  <div class="carousel-item">
							<img class="d-block img-fluid" src="media/mainapp/indexpage/genre/39.png" alt="slide">
						  </div>
						  <div class="carousel-item">
							<img class="d-block img-fluid" src="media/mainapp/indexpage/genre/40.png" alt="slide">
						  </div>

			        </div><!-- e carousel-inner -->
			        
			        <a class="carousel-control-prev" href="#carousel-13" role="button" data-slide="prev">
			          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			          <span class="sr-only">prev</span>
			        </a>
			        
			        <a class="carousel-control-next" href="#carousel-13" role="button" data-slide="next">
			          <span class="carousel-control-next-icon" aria-hidden="true"></span>
			          <span class="sr-only">next</span>
			        </a>
			        
				</div><!-- e carousel -->
			
			</div><!-- e col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 -->
			
		</div><!-- e row -->
	</div><!-- e container -->
</section><!-- e section -->







{% endblock %}


{% block js%}

/* 1 carousel */
$('#carousel-1').carousel({
      interval: 4000,
      wrap: true,
      keyboard: true
 });
 

 /* 10 carousel example */
 $('#carousel-10').carousel({
     interval: 2000,
     wrap: true,
     keyboard: true
 });

 /* 11 carousel example */
 $('#carousel-11').carousel({
     interval: 4000,
     wrap: true,
     keyboard: true
 });

 /* 12 carousel example */
 $('#carousel-12').carousel({
     interval: 6000,
     wrap: true,
     keyboard: true
 });

 /* 13 carousel example */
 $('#carousel-13').carousel({
     interval: 8000,
     wrap: true,
     keyboard: true
 });

{% endblock %}